<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Inicio</a></li>
            <li><a href="/clientes">Clientes</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Contactenos</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Inicio</a></li>
    <li><a href="/clientes">Clientes</a></li>
    <li><a href="#">Nosotros</a></li>
    <li><a href="#">Contactenos</a></li>
</ul>