{{> head }}
<h1>Clientes</h1>
<!-- sidebar -->
{{> navbar }}

<div class="
    featured-product-wrapper
     container 
     right-aligned " data-section-id="1506829244446" data-section-type="product" itemscope="" itemtype="http://schema.org/Product">
  <div class="gallery row">
    <div class="col s12 m6">
      <div class="product-description">
        <meta itemprop="name" content="Hexagon">
        <meta itemprop="url" content="https://materialize-shopify-themes.myshopify.com/products/hexagon">
        <meta itemprop="image" content="//cdn.shopify.com/s/files/1/2030/2737/products/sacredgeometry3_800x.jpg?v=1496215840">
        <meta itemprop="description" content="Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.">

        <h2>Hexagon</h2>

        

        <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="USD">
          <meta itemprop="price" content="90.0">
          <link itemprop="availability" href="http://schema.org/InStock">
        </div>
        <div class="rte">
          <meta charset="utf-8"><span>Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</span>
        </div>
      </div>
    </div>

    
    
    
    
    

<div class="col s12 m6 gallery-item gallery-expand gallery-filter
    
     gallery-fillscreen" data-type="sacred-geometry" data-section-type="product" data-tag="hexagon" data-size="small" data-fillscreen="true"><div class="placeholder">
  <div class="gallery-curve-wrapper">
    


      <a class="gallery-cover gray">
        <img class="responsive-img" src="//cdn.shopify.com/s/files/1/2030/2737/products/sacredgeometry3.jpg?v=1496215840" alt="Hexagon" crossorigin="anonymous" data-product-featured-image="">
      <div class="gradient"></div></a>
    


    

{{> foot_js }}
</body>
</html>