{{> head }}
<h1>Inicio</h1>
<!-- sidebar -->
{{> navbar }}

<div id="shopify-section-featured-collection" class="shopify-section">


    <div class="featured-collection-wrapper  container ">
        <div class="">

            <h2 class="collection-title">Featured collection</h2>


            <div class="rte">
                <meta charset="utf-8"><span>Literally venmo before they sold out, DIY heirloom forage polaroid offal yr
                    pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold
                    out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next
                    level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small
                    batch.</span>
            </div>
        </div>

        <div class="gallery gallery-masonry row" style="position: relative; height: 944px;">



            <div class="col s12 m4 gallery-item gallery-expand gallery-filter"
                data-type="sacred-geometry" data-section-type="product" data-tag="circle"
                style="position: absolute; left: 0px; top: 0px;">
                <div class="placeholder">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            <img src="//cdn.shopify.com/s/files/1/2030/2737/products/sacredgeometry1_450x450.jpg?v=1495867992"
                                alt="Circle" crossorigin="anonymous" data-product-featured-image="">
                        </a>
                    </div>    
                </div>
            </div>
            <div class="col s12 m4 gallery-item gallery-expand gallery-filter"
                data-type="sacred-geometry" data-section-type="product" data-tag="circle"
                style="position: absolute; left: 0px; top: 0px;">
                <div class="placeholder">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            <img src="//cdn.shopify.com/s/files/1/2030/2737/products/geometric-sun_450x450.jpg?v=1495836249"
                                alt="Circle" crossorigin="anonymous" data-product-featured-image="">
                        </a>
                    </div>    
                </div>
            </div>
            <div class="col s12 m4 gallery-item gallery-expand gallery-filter"
                data-type="sacred-geometry" data-section-type="product" data-tag="circle"
                style="position: absolute; left: 0px; top: 0px;">
                <div class="placeholder">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            <img src="//cdn.shopify.com/s/files/1/2030/2737/products/sintel-wallpaper-ishtar_450x450.jpg?v=1503359011"
                                alt="Circle" crossorigin="anonymous" data-product-featured-image="">
                        </a>
                    </div>    
                </div>
            </div>
            <div class="col s12 m4 gallery-item gallery-expand gallery-filter"
                data-type="sacred-geometry" data-section-type="product" data-tag="circle"
                style="position: absolute; left: 0px; top: 0px;">
                <div class="placeholder">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            <img src="//cdn.shopify.com/s/files/1/2030/2737/products/geometric-cave_450x450.jpg?v=1495836608"
                                alt="Circle" crossorigin="anonymous" data-product-featured-image="">
                        </a>
                    </div>    
                </div>
            </div>
        
    </div>
</div>

{{> foot_js }}
</body>
</html>